@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500;600;700');

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --Light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'overpass', sans-serif;
  background-color: var(--very-dark-blue);
  color: var(--white);
  height: 100vh;
  display: grid;
  place-items: center;
}

.rating-container,
.thank-you {
  max-width: 400px;
  margin-inline: auto;
  background-color: var(--dark-blue);
  padding: 2rem 1.5rem;
  border-radius: 1rem;
}

button {
  background: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.star {
  margin-bottom: 1rem;
}

h1,
p {
  margin-bottom: 1rem;
}

p {
  color: var(--medium-grey);
  line-height: 1.6;
}

.rating-number {
  margin-bottom: 2rem;
  display: flex;
}

.rating-btn {
  background-color: var(--very-dark-blue);
  color: var(--medium-grey);
  margin-right: 1rem;
  font-size: 1.1rem;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  transition: 0.2s ease;
}

.rating-btn:hover {
  background-color: var(--Light-grey);
  color: var(--white);
}

.rating-btn:focus {
  background-color: var(--orange);
  color: var(--white);
}

.btn {
  width: 100%;
  background-color: var(--orange);
  color: var(--white);
  border-radius: 100vw;
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
}

.thank-you {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.thank-you img {
  margin-bottom: 2rem;
}

.rating {
  background-color: #1e262e;
  color: var(--orange);
  border-radius: 1rem;
  padding: 0.6rem 2rem;
  display: inline-block;
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 1rem;
}
