@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-light-red: hsl(0, 100%, 67%);
  --primary-orange-yellow: hsl(39, 100%, 56%);
  --primary-green-teal: hsl(166, 100%, 37%);
  --primary-cobalt-blue: hsl(234, 85%, 45%);

  --gradient-light-slate-blue: hsl(252, 100%, 67%);
  --gradient-royal-blue: hsl(241, 81%, 54%);
  --gradient-violet-blue: hsla(256, 72%, 46%, 1);
  --gradient-persian-blue: hsla(241, 72%, 46%, 0);

  --neutral-white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  --mobile: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  margin-right: 0.5rem;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  background-color: var(--neutral-white);
}

/* Result section */
.result {
  background: linear-gradient(
    to bottom,
    var(--gradient-light-slate-blue),
    var(--primary-cobalt-blue),
    var(--gradient-royal-blue)
  );
  color: var(--neutral-white);
  text-align: center;
  border-bottom-left-radius: var(--mobile);
  border-bottom-right-radius: var(--mobile);
  padding-block: 2rem;
  width: 100%;
}

.result > *:where(:not(:first-child)) {
  padding-top: 1.5rem;
}

.result h1 {
  color: var(--light-lavender);
  font-size: 1.3rem;
}

.result .score {
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-inline: auto;
  background: linear-gradient(
    to bottom,
    var(--gradient-violet-blue),
    var(--gradient-persian-blue),
    var(--gradient-royal-blue)
  );
}

.result .score p {
  font-size: 3rem;
  font-weight: 700;
}

.result .score span {
  color: var(--light-lavender);
}

.result .text {
  max-width: 350px;
  margin-inline: auto;
  padding-inline: 2rem;
}

.result .text h2 {
  margin-bottom: 0.5rem;
}

.result .text p {
  color: var(--light-lavender);
}

.rocket {
  position: absolute;
  margin-right: 0;
  width: 70px;
  animation: rocket 2s forwards 1.5s;
}

@keyframes rocket {
  0% {
    transform: translateY(0rem);
  }

  100% {
    transform: translateY(-10rem);
  }
}

.score-text-animation {
  animation: show-score 0.8s;
}

.show-grade {
  animation: grade 0.8s;
}

@keyframes grade {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes show-score {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Summary section */
.summary {
  padding-inline: 1rem;
  margin-top: 1rem;
}

.summary h3 {
  color: var(--dark-gray-blue);
  font-weight: 700;
  margin-bottom: 1rem;
}

.summary .summary-entry .stat,
.summary .summary-entry .flex {
  display: flex;
  align-items: center;
}

.summary .summary-entry .flex {
  justify-content: space-between;
}

.summary-entry .score p {
  color: var(--light-lavender);
  font-weight: 500;
}

.summary-entry .score strong {
  color: var(--dark-gray-blue);
}

.summary .summary-entry {
  padding: 1rem;
  border-radius: 0.5rem;
}

.summary .summary-entry:not(:last-of-type) {
  margin-bottom: 1rem;
}

/* Summary entry color */
.red {
  color: var(--primary-light-red);
}

.yellow {
  color: var(--primary-orange-yellow);
}

.green {
  color: var(--primary-green-teal);
}

.blue {
  color: var(--primary-cobalt-blue);
}

/* Bg color */
.bg-red {
  background-color: hsla(0, 100%, 67%, 0.1);
}

.bg-yellow {
  background-color: hsla(39, 100%, 56%, 0.1);
}

.bg-green {
  background-color: hsla(166, 100%, 37%, 0.1);
}

.bg-blue {
  background-color: hsla(234, 85%, 45%, 0.1);
}

button {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 2rem;
  border: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  background-color: var(--dark-gray-blue);
  color: var(--neutral-white);
  margin-bottom: 3rem;
  margin-top: 1rem;
  cursor: pointer;
  transform: 0.3s ease;
}

button:hover {
  background: linear-gradient(
    to top,
    var(--gradient-royal-blue),
    var(--primary-cobalt-blue)
  );
}

@media (min-width: 768px) {
  body {
    height: 100vh;
    display: grid;
    place-items: center;
  }

  .d-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: var(--mobile);
  }

  .summary {
    padding: 2rem;
    margin-top: 0;
  }

  .summary h3 {
    margin-bottom: 1rem;
  }

  .rocket {
    width: 90px;
  }

  /* Result */
  .result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 0;
    border-top-left-radius: var(--mobile);
    border-top-right-radius: var(--mobile);
  }

  .result h1 {
    font-size: 1.5rem;
  }

  .result .score {
    width: 170px;
    height: 170px;
  }

  .result .score p {
    font-size: 4rem;
  }

  .result .text {
    margin-bottom: 1rem;
  }

  .result .text h2 {
    margin-block: 1rem;
  }

  button {
    margin-bottom: 0;
    margin-top: 2rem;
  }
}
